.container {
  height: 100vh;
  background-image: url("./images/cute-bear.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.compare {
  height: 100vh;
  background-image: url("./images/cute-bear.png");
  background-repeat: no-repeat;
  background-size: contain;
}
