.container {
  background-color: skyblue;
  background-image: url(./images/kitty.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 200px 200px;

  height: 100vh;
}

/* shorthand order
1. boackground-color
2. background-image
3. background-repeat
4. background-attachment
5. background-postion

background: color image repeat attachment postion;
no commas
*/

.compare {
  background: url(./images/kitty.png) no-repeat fixed 200px 200px,
    linear-gradient(90deg, #ccc, #d23);

  height: 100vh;
}
